.hero__button {
  border: none;
  border-radius: 3px;
  display: block;
  font: 100% $font-family;
  font-size: 20px;
  margin-top: 20px;
  padding: 10px;
  width: 250px;
}

.hero__button--book-appointment {
  background-color: hsl(358, 73%, 40%);
}

.hero__button--other-services {
  background-color: hsl(0, 10%, 60%);
}
